<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="APEXCESW-Consumption" value="https://pkgs.dev.azure.com/ceapex/CEINTL/_packaging/APEXCESW-Consumption/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
